@import 'modules/config';

//--------------- header -------------------------
.header{
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid #ffb6c1;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    &-title{
        display: flex;
        align-items: center;
        opacity: 0;
        transform: translateY(30px);
        &_image{
            width: 50px;
            & > img{
                width: 100%;
                object-fit: cover;
            }
        }
        &_text{
            color: $theme-color;
            font-size: 30px;
            margin-left: 5px;
        }
    }
    &-list{
        list-style: none;
        @include media-pc() {
            display: flex;
        }
        @include media-sp() {
            display: none;
        }
        &_item{
            margin-right: 40px;
            & > a{
                color: $theme-color;
                font-weight: 600;
                font-size: 20px;
            }
            &:last-child{
                margin-right: 0;
            }
        }
        &_humberger{
            @include media-pc() {
                display: none;
            }
            @include media-sp() {
                display: block;
            }
            & > span{
                display: block;
                width: 30px;
                height: 3px;
                background-color: $theme-color;
                &:not(:last-child){
                    margin-bottom: 5px;
                }
            }
        }
    }
}
//--------------- header -------------------------

//--------------- main -------------------------
.main{
    #mouse-stalker{
        pointer-events: none;
        position: fixed;
        top: -8px;
        left: -8px;
        width: 16px;
        height: 16px;
        background-color: #ffff80;
        border-radius: 50%;
        transform: translate(0, 0);
        transition: transform 0.2s;
        transition-timing-function: ease-out;
        z-index: 999;
    }
    //--------------- KV -------------------------
    .kv{
        position: relative;
        margin-bottom: 130px;
        padding-top: 118px;
        .swiper-container {
            width: 100vw;
            height: 700px;
        }
        &-img{
            width: 100vw;
            height: 100vh;
            & > img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-text{
            position: absolute;
            z-index: 10;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 40px;
            color: #fff;
        }
    }
    //--------------- contents -------------------------
    .contents{
        margin-bottom: 150px;
        &-core{
            width: 100%;
        }
        &-each{
            &.js-scroll{
                opacity: 0;
            }
            &:nth-of-type(2){
                .contents-each_image{
                    order: 2;
                }
                .contents-each_text{
                    order: 1;
                }
            }
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:not(:last-child){
                margin-bottom: 20px;
            }
            &_image{
                width: 500px;
                & > img{
                    width: 100%;
                    object-fit: cover;
                }
            }
            &_text{
                width: 300px;
                &-title{
                    margin-bottom: 15px;
                    font-size: 20px;
                }
                &-desc{
                    font-size: 16px;
                }
            }
        }
    }
    //--------------- carousel -------------------------
    .carousel{
        margin-bottom: 150px;
        .swiper-container {
            width: 600px;
            height: 300px;
        }
        .swiper-slide{
            width: 100%;
            height: 100%;
            &_image{
                width: 100%;
                height: 100%;
                & > img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    //--------------- accordion -------------------------
    .accordion{
        margin-bottom: 150px;
        &-trigger{
            width: 70vw;
            height: 80px;
            background-color: #e8e8e8;
            border-radius: 20px;
            box-shadow: 0 10px 0 #000000;
            cursor: pointer;
            &_text{
                text-align: center;
                line-height: 80px;
                font-size: 25px;
                color: #fff;
            }
        }
        &-inner{
            display: none;
        }
    }
    //--------------- btns -------------------------
    .btns{
        margin-bottom: 150px;
        .btn-hover{
            display: block;
            margin: 0 auto;
            width: 200px;
            height: 100px;
            background-color: teal;
            border-radius: 20px;
            text-align: center;
            line-height: 100px;
        }
    }
}
//--------------- main -------------------------

