doctype html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN"
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title practice
        link(rel="stylesheet" href="styles/style.css")
    body
        h1 hello world!
        //- ここから読み込み部分
        script(src = "gsap/gsap.min.js")
        script(src = "dist/scripts/main.js")
        //- 読み込み部分ここまで