doctype html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN"
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title practice
        link(rel="stylesheet" href="styles/style.css")
        link(rel="stylesheet" href="assets/js/libs/swiper/swiper.min.css")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet")
    body
        header.header
            .header-left
                h3 MyPortfolio
            .header-right
                ul.header-list
                    li.header-list_item
                        a(href="#") 
                            | About
                    li.header-list_item
                        a(href="#") 
                            | work
                    li.header-list_item
                        a(href="#") 
                            | contact
        main.main
            .kv
                .kv-img
                    img(src="assets/images/b-kv-image.jpg", alt="")
                .kv-text 
                    h2 MyPortfolio
            .contents.content-width
                h4.title
                    | CONTENT1
                    span.small-title
                        | slideshow
                .contents-core
                    .contents-each
                        .contents-each_image
                            img(src="assets/images/b-contents-img_01.jpg", alt="")
                        .contents-each_text
                           h5.contents-each_text-title Aries
                           p.contents-each_text-dsec Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel rerum incidunt dicta magni fugit, ratione exercitationem ut velit laborum illum labore, suscipit dolores fuga repellat, cupiditate et soluta possimus earum.
                    .contents-each
                        .contents-each_image
                            img(src="assets/images/b-contents-img_02.jpg", alt="")
                        .contents-each_text
                           h5.contents-each_text-title Taurus
                           p.contents-each_text-dsec Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel rerum incidunt dicta magni fugit, ratione exercitationem ut velit laborum illum labore, suscipit dolores fuga repellat, cupiditate et soluta possimus earum.
                    .contents-each
                        .contents-each_image
                            img(src="assets/images/b-contents-img_03.jpg", alt="")
                        .contents-each_text
                           h5.contents-each_text-title Gemini
                           p.contents-each_text-dsec Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel rerum incidunt dicta magni fugit, ratione exercitationem ut velit laborum illum labore, suscipit dolores fuga repellat, cupiditate et soluta possimus earum.
            .carousel.content-width
                h4.title
                        | CONTENT2
                        span.small-title
                            | carousel
                .swiper-container
                    .swiper-wrapper
                        .swiper-slide
                           .swiper-slide_image
                                img(src="assets/images/c-carousel_01.jpg", alt="") 
                        .swiper-slide
                            .swiper-slide_image
                                img(src="assets/images/c-carousel_02.jpg", alt="") 
                        .swiper-slide
                            .swiper-slide_image
                                img(src="assets/images/c-carousel_03.jpg", alt="") 
                    .swiper-pagination
                    .swiper-button-prev
                    .swiper-button-next
                    //- .swiper-scrollbar
            .accordion.content-width
                h4.title
                        | CONTENT3
                        span.small-title
                            | accordion
                .accordion-trigger
                    h5 アコーディオン1
                .accordion-inner
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam ex at consequuntur fugit repudiandae perferendis iure vero provident. Ex error animi quas repudiandae molestiae quisquam voluptates illo beatae saepe ad.
        //- ここから読み込み部分
        script(src = "assets/js/libs/gsap/gsap.min.js")
        script(src = "assets/js/libs/swiper/swiper.min.js")
        script(src = "scripts/libs/CCarousel.js")
        script(src = "scripts/main.js")
        //- 読み込み部分ここまで